@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: 'questrial';
        src: url('./assets/fonts/Questrial-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'din-next-lt-pro-bold';
        src: url('./assets/fonts/DINNextLTPro-Bold.otf') format('opentype');
    }

    @font-face {
        font-family: 'din-next-lt-pro-light';
        src: url('./assets/fonts/DINNextLTPro-Light.otf') format('opentype');
    }

    @font-face {
        font-family: 'inter-variable';
        src: url('./assets/fonts/inter-variable.ttf') format('truetype');
    }
}
